@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.app{
  display: flex;
  gap: 20px;
  background-color: #383636;
  padding: 2em 0;
  font-family: "Roboto Slab", serif;
}

.app-components{
  width: 80%;
  margin: 2.1rem;
  border-radius: 24px;
  padding: 3rem;
  background-color: #0e0d0d;
  color: #fff;
  box-shadow: 0 10px 20px 0px #5706B8;
}

.hide-data{
  display: none;
}

.chart{
  position: relative;
}

.chart .title{
  position: absolute;
  left: 35%;
  right: 15% ;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
}


.sidebar{
  width: 19vw;
  min-height: 100vh;
  border-right: 1.5px solid #a9a9a9;
  box-shadow: 0 10px 20px 0px #5706B8; /*#0c0249*/
  border-top: 0;
  border-radius: 12px;
  font-size: max(1vw, 10px);
  background: transparent;
  background-color: #00000056;
  color: #fff0ed;
  background-image: url();
  background-size: cover;
}
.sidebar-user-handle img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #5706B8;

}
.sidebar-footer {
margin:0rem 2.1rem;
padding: 2.1rem;

}
.sidebar-footer img{
  width: 150px;
  height: 150px;
}
.sidebar-user-handle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 2.1rem 1.1rem;
  padding-left: 20px;
}
.sidebar-user-handle button{
  border: 1px solid #5706B8;
  outline: 1px solid #0c0249;
  padding: 0.56rem;
  cursor: pointer;

}
.sidebar-user-handle .logo{
  width: 190px;
  height: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: lighten; */
  background-blend-mode: color-burn;
}
.sidebar-options{
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.sidebar-option{
  display: flex;
  align-items: center;
  gap: 17px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 15px 12px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}
.sidebar-option span{
  font-size: max(1.1vw, 18px);
  font-weight: 500;
}
.sidebar-option.active{ /*NavLink active gets added*/
  background-color:  #380477;
  border-color: #8cfed4;
}

.form-body input, select{
  @apply mt-1  w-full py-2 px-2 border border-emerald-300 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

@media (max-width: 900px) {
  .sidebar-option p{
      display: none;
  }
  
}

/*Home-Hero Section*/
.header{
  /* background-color: yellow; */
  height: 5vw;
  margin: 32px auto;
  margin-left: 20px;
  background-image: url('/logo1.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.hero-content{ 
  
  animation: fadeIn 3s ease-in;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}



.hero-content h2{
  font-weight: 600;
  color: #fff;
  color: #d8a444;
  padding: 0.56em 0;
  font-size: max(2.2vw, 20px);
}
.hero-content .sub-head{
  margin: 10rem 0 0 10rem;
  font-size: max(1.1vw, 10px);
  color: #a372df;
}
.hero-content p{
  color: #fff;
  font-size: 1.14vw;
  font-weight: 500;
}

button:hover {
  background-color: #5706B8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.signup-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.1rem 0rem;
}

.form_container {
  background-color: #fff;
  color: #0e0d0d;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: #380477;
  font-size: 2.1rem;
  font-weight: 600;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  
}

.form_container input, textarea {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.23rem;
  outline: none;
  color: #0e0d0d;
  font-weight: 600;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: #380477;
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
.form-body button:hover, button:focus{
  background-color: #380477;
  
}

.form_container span{
  text-align: center;
  white-space: nowrap;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
  color: #5706B8;
  font-size: 1.12rem;
  font-weight: 600;
}

/*home-page quick access*/
.qa-tabs{
  padding: 1em;
  background-color: #6968681c;
  border: 2px solid gray;
}

/*records table*/
.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(212, 212, 212);
  margin-bottom: 2%;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table  tr {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.order-table tr th{
  /* color: rgb(199, 195, 195); */
  font-size: 0.95rem;
  font-weight: 500;
}

.order-table td {
  text-align: right;
  padding: 15px 10px;
  color: rgb(211, 211, 211);
  font-weight: 300;
  font-size: 0.8rem;
}

.order-table tr th:first-child,
.order-table tr td:first-child {
  text-align: center;
}

.order-table tr th:nth-child(1),
.order-table tr th:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.order-table tr td:nth-child(1),
.order-table tr td:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.order-table tr td:last-child {
  font-size: 0.6rem;
}

.order-table tr td {
  padding: 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(199, 195, 195);
}